body {
    position: relative;
}

code,
pre,
samp {
    background: rgb(30, 30, 30);
    color: white;
    padding: 15px;
}

h2 {
    margin-top: 30px;
}

h4 {
    margin-top: 15px;
}

var {
    color: cyan;
    font-style: italic;
}

.outvar {
    color: rgb(30, 30, 30);
    font-style: italic;
}